<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Renomeador de Arquivos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>Planilha:</td>
				<td><input type="file" name="planilha" /></td>
			</tr>

			<tr>
				<td>ZIP com os arquivos:</td>
				<td><input type="file" name="zip" /></td>
			</tr>
			<tr>
				<td><input type="submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>